.download-option {
  width: 100%;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 0px 2px;

  &:first-child {
    margin-top: 1em;
  }

  &:last-child {
    margin-bottom: 1em;
    border-width: 2px 2px 2px 2px;
  }

  &.pre-shown {
    border-width: 2px 2px 2px 2px;
  }

}

.download-option-header {
  margin-bottom: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & h3 {
    margin: 0;
    cursor: pointer;
  }

}

.download-button {
  @extend %flex-center;
  @extend %no-select;
  @extend %button-styling;

  padding: 0.5em;
  box-sizing: border-box;

  border-radius: 50%;
}

.download-icon-container {
  @extend %flex-center;

  height: 1em;
  width: 1em;

  border: 1px solid black;
  border-radius: 50%;

  font-size: 1em;
  color: var(--dark-base-colour);

  transition: all 0.1s linear;

  &:hover {
    cursor: pointer;
  }
}

.download-option-description {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}