/* change someday to global "image-card" component */
.image-card {
  @extend %flex-center;

  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 90%;
  max-height: 15em; 
  padding: 1em;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  overflow: hidden;
  cursor: pointer;

  & img {
    max-height: 12em;
    max-width: 100%;
    width: auto;
    height: auto;
    text-align: center;
    line-height: 3em;
    margin-bottom: 1em;
  }

  &:hover {
    //transform: scale(1.025);
    background-color: var(--light-base-colour-dark);
    //box-shadow: var(--box-shadow);
    //border-width: 2px 2px 2px 2px;
  }

  transition: all 0.1s linear;

  & span {
    font-size: 0.75em;
  }
}
