/* css entry point for dependencies bundle */

@import "normalize.css";
@import "./vars.css";
@import "./vendor/fonts/material-icons.css";
@import "./vendor/fonts/material-form.css";

/* fonts */
@import "./vendor/fonts/open-sans-latin-greek.css";
@import "./vendor/fonts/inconsolata-ascii.css";
@import "./vendor/fonts/material-icons.css";
@import "./vendor/tippy.css";
@import "./vendor/react-table.css";
@import "./vendor/react-tabs.css";

/*
@import "./vendor/fonts/roboto.css";
@import "./vendor/fonts/open-sans.css";
@import "./vendor/fonts/inconsolata.css";
@import "./vendor/fonts/font-awesome.css";
@import "./vendor/fonts/font-awesome-form.css";
@import "./vendor/fonts/font-awesome-custom.css";
@import "./vendor/fonts/material-form.css";
*/
