/* css entry point */

/* per-page css files */

@import "./vars.css";
@import "./fonts.css";
@import "./base.css";
@import "./app.css";
@import "./common/index.css";
@import "./features/search.css";
@import "./features/paint.css";
@import "./features/pathways.css";
@import "./features/interactions.css";
@import "./features/entity-landing-box.css";
@import "./features/enrichment.css";
