:root {
  /* Pathway commons colors */
  --green-sea: #16A085;
  --midnight-blue: #212F3D;
  --cloud: #ECF0F1;
  --cloud-dark: #d3d8da;
  --cloud-darker: #b5b9bb;

  /* Colours used by other modules */
  --accent-1-colour: var(--green-sea);
  --light-base-colour: var(--cloud);
  --light-base-colour-dark: var(--cloud-dark);
  --light-base-colour-darker: var(--cloud-darker);
  --dark-base-colour: var(--midnight-blue);

  --box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.4);
  --icon-size: 3vmin;
  --icon-size-mobile: 7vmin;

  --link: #03A9F4;
  --link-visited: #7E57C2;

  --widgetBorderColor: #aaa;
  --widgetBorderRadius: 4px;
  --widgetDisabledBorderColor: #ddd;
  --widgetDisabledTextColor: #888;
  --widgetActiveColor: #aaa;
  --widgetToggleColor: #ccc;
  --buttonActiveColor: #000;
  --widgetHeight: 1.75em;
  --defaultWidgetWidth: 12em;
  --activeColor: #3193fd;
  --invalidColor: #c20e0e;
  --smallFontSize: 0.8em;
  --fadedColor: #888;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%no-select {
  user-select: none;
  cursor: default;
}

%button-styling {
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
  background-color: var(--light-base-colour);

  cursor: pointer;

  transition: box-shadow 0.1s linear;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 11px 0px;
  }
}