:root {
  /* Pathway commons colors */
  --green-sea: #16a085;
  --midnight-blue: #212f3d;
  --cloud: #ecf0f1;
  --cloud-dark: #d3d8da;
  --cloud-darker: #b5b9bb;

  /* Colours used by other modules */
  --accent-1-colour: var(--green-sea);
  --light-base-colour: var(--cloud);
  --light-base-colour-dark: var(--cloud-dark);
  --light-base-colour-darker: var(--cloud-darker);
  --dark-base-colour: var(--midnight-blue);
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --icon-size: 24px;
  --icon-size-mobile: 7vmin;
  --number-of-sidebar-icons: 3;
  --search-width: 740px;
  --view-sidebar-width: 33%;
  --link: #03a9f4;
  --link-visited: #7e57c2;
  --widgetBorderColor: #aaa;
  --widgetBorderRadius: 4px;
  --widgetDisabledBorderColor: #ddd;
  --widgetDisabledTextColor: #888;
  --widgetActiveColor: #aaa;
  --widgetToggleColor: #ccc;
  --buttonActiveColor: #000;
  --widgetHeight: 1.75em;
  --defaultWidgetWidth: 12em;
  --activeColor: #3193fd;
  --invalidColor: #c20e0e;
  --smallFontSize: 0.8em;
  --fadedColor: #888;
}

/* Viewport scaling sizes */
@custom-media --small-width-viewport (width <= 768px);
@custom-media --small-portrait-viewport (width <= 736px) and (height <= 736px) and (height > 414px);

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%no-select {
  cursor: default;
}
