:root {

  /* /Pathway commons colors */
  --green-sea: #16A085;
  --midnight-blue: #212F3D;
	--midnight-blue-dark: #0E243A;
  --cloud: #ECF0F1;
  --dark-cloud: #D3D8DA;
  --soft-red: #d65355;
  --soft-red-hover: #d18183;
  --soft-blue: #007dc0;
  --soft-blue-hover: #40a0cf;
  --soft-green: #00a887;
  --soft-green-hover: #45c7ad;
  --soft-purple: #ad5fd1;
  --soft-purple-hover: #b885cf;
  --beige: #e1e1cf;
  --beige-hover: #f3f3e3;

  --link: #03A9F4;
  --link-visited: #7E57C2;

  --widgetBorderColor: #aaa;
  --widgetBorderRadius: 4px;
  --widgetDisabledBorderColor: #ddd;
  --widgetDisabledTextColor: #888;
  --widgetActiveColor: #aaa;
  --widgetToggleColor: #ccc;
  --buttonActiveColor: #000;
  --widgetHeight: 1.75em;
  --defaultWidgetWidth: 12em;
  --activeColor: #3193fd;
  --invalidColor: #c20e0e;
  --smallFontSize: 0.8em;
  --fadedColor: #888;
}
