@import "./bounce.css";

/* change someday to global "snackbar" component, like in react material-ui */
.editWarning {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.8em;
  padding: 0.4em 1em 0.4em 1em;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.4);
  background-color: var(--invalidColor);
  animation-name: bounce; /* leaving this out till a better animation is made */
  animation-duration: 1s;
  /* animation-iteration-count: 20; */
  transition: transform 1s ease 0s, opacity 1s ease 1s; 

  &.closed {
    transform: translateY(100%);
    box-shadow: 0px;
    opacity: 0;
  }
}