@import "./animations/bounce.css";

/* change someday to global "snackbar" component, like in react material-ui */
.edit-warning-container {
  @extend %flex-center;
  @extend %no-select;

  height: 2.6em;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;

  pointer-events: none;
  
  transform: translateY(0%);

  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 5; /* should be set to floor(editWarningDuration / animationDuration) */
  transition: transform 1s ease 0s, opacity 1s ease 1s;

  &.closed {
    box-shadow: 0px;
    opacity: 0;
    transform: translateY(100%);
  }
}


.edit-warning {
  @extend %flex-center;

  height: 1.8em;
  padding: 0.4em 1em 0.4em 1em;

  background-color: var(--accent-1-colour);
  border-radius: 3px 3px 0px 0px;
  box-shadow: var(--box-shadow);
}

/* Portrait-specific mobile scaling */
@media (--small-portrait-viewport) {
  .edit-warning-container {
    height: 100%;
    width: 2.6em;

    bottom: 0;
    left: calc(100% - 2.6em);

    animation-name: none;
    transition: transform 1s ease 0s, opacity 1s ease 1s;

    &.closed {
      box-shadow: 0px;
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .edit-warning {
    height: 1.8em;
    min-width: 20em;
    padding: 0.4em 1em 0.4em 1em;
    
    background-color: var(--accent-1-colour);
    border-radius: 3px 3px 0px 0px;
    box-shadow: var(--box-shadow);
    
    transform: rotate(-90deg);
  }
}