.menu-bar {
  @extend %flex-center;

  padding: 0;

  position: absolute;
  justify-content: flex-start;
  z-index: 10;

  top: 0;
  left: 2%;
  
  background-color: var(--light-base-colour);
  border-radius: 0px 0px 3px 3px;
  border: 2px solid black;
  border-width: 0px 2px 2px 2px;
  box-shadow: var(--box-shadow);
}

.menu-bar-inner-container {
  @extend %flex-center;
}

.pc-logo-container {
  @extend %flex-center;

  height: calc(var(--icon-size) * 3 / 2);
  width: calc(var(--icon-size) * 3 / 2);

  & img {
    height: var(--icon-size);
    width: auto;
  }
}

.title-container {
  padding-left: calc(1em - var(--icon-size) / 3);
  padding-right: 1em;

  color: var(--dark-base-colour);

  & h4 {
    margin: 0;
  }
}

.search-nodes {
  @extend %flex-center;
  @extend %no-select;

  height: calc(var(--icon-size) * 3 / 2);
  padding: 5px; 
  box-sizing: border-box;

  border-color: black;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  

  color: var(--dark-base-colour);

  cursor: pointer;

  transition: all 0.1s linear;

  &:hover {
    background-color: var(--light-base-colour-dark);
  }
}

.layout-dropdown-button {
  @extend %flex-center;
  @extend %no-select;

  height: calc(var(--icon-size) * 3 / 2);
  width: calc(var(--icon-size) * 3 / 2);

  box-sizing: border-box;

  border-color: black;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  
  
  font-size: var(--icon-size);
  color: var(--dark-base-colour);

  cursor: pointer;

  transition: all 0.1s linear;

  &:hover {
    background-color: var(--light-base-colour-dark);
  }
}

.layout-dropdown {
  @extend %flex-center;

  box-sizing: border-box;
  margin-left: 1em;
  margin-right: 1em;

  display: none;
  
  & select {
    width: 100%;
    background-color: white;
    padding-right: 1.75em;
  }

  &.open {
    max-width: 100%;
    display: flex;
  }
}

/* Mobile scaling */
@media (width <= 768px) {
  .menu-bar {
    left: 0;
  }

  .layout-dropdown-button {
    height: calc(var(--icon-size-mobile) * 3 / 2);
    width: calc(var(--icon-size-mobile) * 3 / 2);

    font-size: var(--icon-size-mobile);
  }

  .title-container {
    padding-left: 1em;
  }

  .pc-logo-container {
    display: none;
  }
}

/* Portrait-specific */
@media (width <= 768px) and (height <= 736px) and (height > 414px) {
  .menu-bar {
    flex-direction: column;
  }

  .layout-dropdown {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}