.menu-bar {
  @extend %flex-center;

  height: auto;
  padding: 0;
  margin-right: 2%;

  position: absolute;
  justify-content: flex-start;
  z-index: 10;

  top: 0;
  left: 2%;

  background-color: var(--light-base-colour);
  border-radius: 0px 0px 3px 0px;
  border-color: var(--light-base-colour-dark);
  border-style: solid;
  border-width: 0px 1px 1px 1px;

  transition: margin 0.5s ease-out;

  &.menu-bar-margin {
    margin-right: calc(var(--view-sidebar-width) + (var(--icon-size) * 3 / 2) + 2%);
  }
}

.menu-bar-inner-container {
  @extend %flex-center;
}

.pc-logo-container {
  @extend %flex-center;

  height: calc(var(--icon-size) * 3 / 2);
  width: calc(var(--icon-size) * 3 / 2);

  & img {
    height: var(--icon-size);
    width: auto;
  }
}

.title-container {
  padding-left: calc(1em - var(--icon-size) / 3);
  padding-right: 1em;
  color: var(--dark-base-colour);
  display: flex;
  flex-direction: row;
  vertical-align: middle;

  & h4 {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0;
    margin-top: 5px;
  }
    /* css for human icon */
    & img {
      margin-top: 2px;
      height: var(--icon-size);
      width: auto;
    }
}

.sidebar-tool-button-container {
  @extend %flex-center;
}

.view-toolbar {
  @extend %flex-center;

  height: calc(var(--icon-size) * 3 / 2);
  //width: calc((var(--icon-size) * 3 / 2) * var(--number-of-sidebar-icons));

  position: absolute;
  top: 100%;
  left: -1px;

  border-radius: 0px 0px 3px 3px;
  border-color: var(--light-base-colour-dark);
  border-style: solid;
  border-width: 1px 1px 1px 1px;

  background-color: rgba(255, 255, 255, 0.5);
}

_::-webkit-full-page-media, _:future, :root .view-toolbar{

   min-width: 100%;

}

.layout-dropdown {
  @extend %flex-center;

  height: calc(var(--icon-size) * 3 / 2);
  width: 0;
  padding: 0;

  box-sizing: border-box;
  overflow: hidden;

  font-size: 0.9em;

  transition: all 0.1s ease-out;

  & select {
    width: 100%;
    background-color: white;
    padding-right: 1.75em;
  }

  &.layout-dropdown-open {
    width: 11em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow: visible;
  }
}

.search-nodes {
  @extend %flex-center;
  @extend %no-select;

  width: 11em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: visible;
  font-size: 0.9em;
  box-sizing: border-box;
}

.view-search-bar {
  @extend %flex-center;

  height: 1.85em;
  width: 100%;
  background-color: white;
  padding: 0em 0.5em;
  box-sizing: border-box;
  border: 1px solid var(--light-base-colour-dark);
}

.view-search {
  height: 100% !important;
  width: 90%;
  padding: 0 0 1px 0 !important;
  border-width: 0px !important;
}
.gene-input-container{
  height: 1.85em;
  width: 200px;
}

.gene-input-box{
  min-height: 1.85em;
  max-height: 80%;
  width: 200px;
  background-color: white;
  padding: 0em 0.5em;
  box-sizing: border-box;
  border: 1px solid var(--light-base-colour-dark);
  border-radius: 0 !important;
  font-weight: normal;
  position: fixed;
  vertical-align: middle;
  z-index: 1;
  overflow-y:scroll;
  line-height: 1.8;
  resize: none;
}

.gene-input-box:empty:not(:focus):before {
  content: attr(placeholder);
}

.invalid-token-container{
  @extend %flex-center;

  min-width: 200px;
  position: absolute;
  top: 100%;
  left: -1px;
}

.invalid-tokens-feedback{
  min-height: 1.85em;
  max-height: 628px;
  width: 200px;
  background-color: white;
  padding: 0em 0.5em;
  border: 1px solid var(--light-base-colour-dark);
  border-radius: 0 !important;
  font-weight: normal;
  vertical-align: middle;
  z-index: 1;
  overflow-y:scroll;
  line-height: 1.8;
  resize: none;
}

.invalid-tokens-feedback:empty{
  display:none;
}

/* submit button for gene input */
.submit{
  background-color: var(--dark-base-colour);
  /* background-color: #16A086; */
  color: white;
  font-weight: normal;
  border: 1px solid var(--light-base-colour-dark);
  border-left: none;
  border-radius: 0 !important;
  height: 1.85em;
  vertical-align: middle;
}

.view-search-clear {
  @extend %flex-center;

  height: calc(var(--icon-size) * 2 / 3);
  cursor: pointer;

  color: var(--dark-base-colour);

  transition: all 0.1s linear;

  &:hover {
    color: var(--accent-1-colour);
  }
}


/* Mobile scaling */
@media (--small-width-viewport) {
  .menu-bar {
    left: 0;
    margin-right: 0;
    min-height: calc(var(--icon-size) * 3 / 2);

    &.menu-bar-margin {
      margin-right: 0;
    }
  }

  .title-container {
    padding-left: 1em;
  }

  .sidebar-tool-button-container {
    display: none;
  }
}

/* Portrait-specific */
@media (--small-portrait-viewport) {
  .menu-bar {
    flex-direction: column;
    margin-right: 0;
    min-height: calc(var(--icon-size) * 3 / 2);

    &.menu-bar-margin {
      margin-right: 0;
    }
  }

  .layout-dropdown {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .sidebar-tool-button-container {
    display: none;
  }
}