@import "./sidebarMenus/help.css";
@import "./sidebarMenus/downloadMenu.css";

.sidebar-menu {
  height: 100%;
  width: var(--view-sidebar-width);

  position: fixed;
  top: 0;
  right: 0;
  z-index: 25;

  box-shadow: 0px;
  transform: translateX(100%);

  transition: all 0.5s ease-out, box-shadow 0.75s linear;

  &.open {
    transform: translateX(0%);
    box-shadow: var(--box-shadow);
  }

  & a {
    color: var(--link);
    text-decoration: underline;

    &:visited {
      color: var(--link-visited);
    }
  }
}

.sidebar-close-button-container {
  @extend %flex-center;

  height: calc(var(--icon-size) * 3 / 2);
  width: calc(var(--icon-size) * 3 / 2);

  left: 0;

  position: absolute;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.5);
  background-color: var(--light-base-colour);
  border-radius: 0px 0px 0px 3px;
  // border-color: var(--light-base-colour-dark);
  // border-style: solid;
  // border-width: 0px 0px 1px 1px;

  transition: z-index 0s linear 0s, left 0.5s linear, box-shadow 0.75s linear;

  &.open {
    left: calc(- var(--icon-size) * 3 / 2);
    box-shadow: var(--box-shadow);
    z-index: 10;
    transition: left 0.5s linear, z-index 0s linear 0.5s, box-shadow 0.75s linear;
  }
}

.sidebar-content {
  height: 100%;
  width: 100%;

  position: relative;
  z-index: 50;
}

.sidebar-text {
  @extend %flex-center;

  height: 100%;
  width: 100%;
  padding: 1em;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;

  position: relative;
  z-index: 300;
  
  background-color: var(--light-base-colour);
  
  overflow-y: scroll;

  transition: all 0.5s linear;

  & h2 {
    margin-top: 0;
  }

  & p {
    font-size: 0.9em;
  }
}

/* Mobile scaling */
@media (--small-width-viewport) {
  .sidebar-menu {
    display: none;
  }
}