@import "./sidebarMenus/help.css";
@import "./sidebarMenus/downloadMenu.css";

.sidebar-menu {
  height: 100%;
  width: 25%;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 25;

  box-shadow: 0px;
  transform: translateX(100%);

  transition: all 0.5s ease-out;

  &.open {
    transform: translateX(0%);
    box-shadow: var(--box-shadow);
  }

  & a {
    color: var(--link);
    text-decoration: underline;

    &:visited {
      color: var(--link-visited);
    }
  }
}

.sidebar-select {
  height: calc((var(--icon-size) * 3 / 2) * var(--number-of-sidebar-icons));
  width: calc(var(--icon-size) * 3 / 2);

  display: flex;
  flex-direction: column;

  position: absolute;
  top: calc(50% - ((var(--icon-size) * 3 / 2) * var(--number-of-sidebar-icons) / 2));
  left: calc(- var(--icon-size) * 3 / 2);

  border-color: black;
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-radius: 3px 0px 0px 3px;
  box-shadow: var(--box-shadow);

  &.conditional {
    height: calc(var(--icon-size) * 3 / 2);
    
    left: 0;
    top: 0;
    bottom: auto;

    transition: all 0.5s ease-out;
    border-width: 0px 0px 2px 2px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);

    &.open {
      left: calc(- var(--icon-size) * 3 / 2);
      box-shadow: -8px 0px 35px 0px rgba(0,0,0,0.4);
    }
  }
}

.sidebar-close-button {
  @extend %flex-center;
  @extend %no-select;

  height: calc(var(--icon-size) * 3 / 2);

  position: relative;

  background-color: var(--light-base-colour);
  border-top: 2px solid black;
  transition: all 0.1s linear;
  
  font-size: var(--icon-size);
  color: var(--dark-base-colour);

  &:first-child {
    border-radius: 2px 0px 0px 0px;
    border-top: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &.active {
    z-index: 100;
    background-color: var(--accent-1-colour);
  }
}

.sidebar-content {
  height: 100%;
  width: 100%;

  position: relative;
  z-index: 50;

  border: 2px solid black;
  border-width: 0px 0px 0px 2px;
}

.sidebar-text {
  @extend %flex-center;

  height: 100%;
  width: 100%;
  padding: 1em;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;

  position: relative;
  z-index: 300;
  
  background-color: var(--light-base-colour);
  border-color: var(--accent-1-colour);
  border-style: solid;
  border-width: 0px 0px 0px 10px;
  
  overflow-y: scroll;

  transition: all 0.5s linear;
}

/* Mobile scaling */
@media (--small-width-viewport) {
  .sidebar-select {
    top: calc(50% - ((var(--icon-size-mobile) * 3 / 2) * var(--number-of-sidebar-icons) / 2));
    left: calc(- var(--icon-size-mobile) * 3 / 2);
    height: calc((var(--icon-size-mobile) * 3 / 2) * var(--number-of-sidebar-icons));
    width: calc(var(--icon-size-mobile) * 3 / 2);

    &.conditional {
      height: calc(var(--icon-size-mobile) * 3 / 2);

      &.open {
        left: calc(- var(--icon-size-mobile) * 3 / 2);
      }
    }
  }

  .tool-button {
    height: calc(var(--icon-size-mobile) * 3 / 2);
    font-size: var(--icon-size-mobile);
  }
}

/* Portrait-specific */
@media (--small-portrait-viewport) {
  .sidebar-menu {
    height: 25%;
    width: 100%;
    position: fixed;
    top: 100%;
    left: 0;
    box-shadow: 0px;
    transform: translateY(0%);

    &.open {
      transform: translateY(-100%);
    }
  }

  .sidebar-select {
    position: absolute;
    top: calc(- var(--icon-size-mobile) * 3 / 2);
    left: calc(50% - ((var(--icon-size-mobile) * 3 / 2) * 4 / 2));
    height: calc(var(--icon-size-mobile) * 3 / 2);
    width: calc((var(--icon-size-mobile) * 3 / 2) * 4);
    flex-direction: row;
    border-width: 2px 2px 0px 2px;
    border-radius: 3px 3px 0px 0px;

    &.conditional {
      height: calc(var(--icon-size-mobile) * 3 / 2);
      width: calc(var(--icon-size-mobile) * 3 / 2);
      border-width: 2px 2px 0px 0px;
      top: 0;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);

      &.open {
        top: calc(- var(--icon-size-mobile) * 3 / 2);
        left: 0;
        box-shadow: var(--box-shadow);
      }
    }
  }

  .tool-button {
    height: calc(var(--icon-size-mobile) * 3 / 2);
    flex-grow: 1;

    border-left: 2px solid black;
    border-top: 0;

    &:first-child {
      border-left: 0;
    }
  }

  .sidebar-content {
    border-width: 2px 0px 0px 0px;
  }

  .sidebar-text {
    border-width: 10px 0px 0px 0px;
  }
}