.tippy-tooltip [x-circle] {
  border-radius : 0%;
}

.tippy-tooltip.tippy-tooltip--regular.light-theme.enter.tippy-notransition {
  border-radius: 5%;
  border: 2px solid black; 
}

.tooltip-image {
    position: relative;
    width: 100%;
    color: black;
    min-width: 300px;
    min-height: 250px;
    border-radius: 0%;
    height: 20vh;
    width: 20vw;
 }

 .tooltip-internal {
    position: relative;
    top:  5%;
    left: 0;
    word-wrap: break-word;
    overflow-y: auto;
    height: 100%;
    font-size: 9pt;
 }

 .tooltip-heading {
    position: relative;
    top: 2px;
    text-align: center;
    word-wrap: break-word;
    font-size: 18pt;
    font-weight: 400;
    color : var(--midnight-blue)
}

.tooltip-button-pdf {
    position: absolute;
    top: 85%;
    right : 40%;
    text-align: center;
    width: 15px;
    font-size: 17pt;
    font-weight: 300;
    color: var(--midnight-blue);
}

.tooltip-button-show {
    position: absolute;
    top: 85%;
    left: 38%;
    text-align: center;
    width: 20px;
    font-size: 17pt;
    font-weight: 300;
    color: var(--midnight-blue);
}