.tooltip-image {
  position: relative;
  width: 100%;
  color: black;
  /* min-width: 300px;
  min-height: 250px; */
  max-width: 20vw;
  border-radius: 0%;
  /* height: 16vh;
  width: 16vw; */
}

.tooltip-internal {
  position: relative;
  top: 5%;
  left: 0;
  word-wrap: break-word;
  text-align: left;
  overflow-y: auto;
  max-height: 40vh;
  font-size: 1.3vh !important;
  margin-bottom: 4px;
  margin-top: 4px;
}

.tooltip-heading {
  position: relative;
  top: 2px;
  text-align: center;
  word-wrap: break-word;
  font-size: 2vh;
  font-weight: 400;
  color: var(--dark-base-colour)
}

.tooltip-warning{
  padding: 10px;
  font-weight: bold;
}

.tooltip-button-container {
  @extend %flex-center;

  height: 100%;
  width: 100%;
  margin-bottom: 2px;

  position: relative;
}

.tooltip-button {
  @extend %flex-center;
  @extend %no-select;
  @extend %button-styling;
  
  height: 100%;
  padding: 0.3em;
  margin-bottom: 3px;

  box-sizing: border-box;

  color: var(--dark-base-colour);

  & i {
    font-size: 2.45vh;
  }
}

.describe-button {
  font-size: 0.75em;
}

.db-names-list{
  display: inline;
}

.field-name {
  display: inline-block;
  font-weight: bold;
}



.span-field-name {
  display: inline-block;
  font-weight: bold;
}

.tooltip-value {
  margin: 2px;
  display: inline;
  word-wrap: break-word;
}

.tooltip-type{
  display: inline;
  word-wrap: break-word;
  line-height: 2em;
  background-color: rgba(22, 160, 133, 0.5);
  color: black;
	list-style:none;
	margin: 0 5px;
	padding: 0 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.tooltip-comma-item {
  padding: 2px;
  display: inline;
}


.tooltip-comment {
  margin: 3px;
  display: inline-block;
  word-wrap: break-word;
}

.db-name {
  text-decoration: underline;
  margin: 3px;
  display: inline-block;
}

.db-link-single-ref {
  text-decoration: underline;
  margin: 2px;
  display: inline;
  color: var(--link);
  line-height: 1.5;
}

.db-no-link-single-ref {
  margin: 3px;
  display: inline-block;
  color: black;
}

.fake-spacer {
  display: inline-block;
}

.fake-paragraph {
  word-wrap: break-word;
  margin: 3px;
  padding: 2px;
}

.wrap-text {
  word-wrap: break-word;
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
}

.sidebar-text {
  overflow-x: hidden;
  width: 100%;
}

.sidebar-internal {
  top: 5%;
  left: 0;
  word-wrap: break-word;
  overflow-y: auto;
  text-align: left;
  height: 100%;
  font-size: 1.3vh !important;
  width: 100%;
}

.publication-list{
  line-height: 1.2em;
}

.publication-item {
  word-wrap: break-word;
  line-height: 1.2em;
}

.publication-link {
  color: var(--link);
  margin: 2px;
  font-weight: lighter;
}

.publication-subinfo {
  padding-top: 6px;
}

.publication-inline{
  display: inline; 
}

.publication-divider{
  font-size: 1.19em;
  padding: 2px;
}

.db-list {
  line-height: 0.2em;
}

.db-link {
  color: var(--link);
  margin: 2px;
  font-weight: lighter;
  display: inline-block;
}

.db-no-link {
  margin: 2px;
  font-weight: lighter;
  display: inline-block;
}

.db-item {
  word-wrap: break-word;
  line-height: 0.9em;
}

.sidebar-text>div {
  width: 100%;
}

.more-link {
  color: var(--link);
  margin: 4px;
  font-weight: lighter;
  display: inline;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  white-space: pre;
}


/* Tippy JS Style Overrides */

.tippy-tooltip [x-circle] {
  border-radius: 0%;
}

.tippy-tooltip.tippy-tooltip--regular.light-theme.enter.tippy-notransition {
  border-radius: 3%;
}

.tippy-popper .tippy-tooltip.light-theme[data-animatefill] {
  background-color: white !important;
}