.metadata-tooltip {
  max-width: 300px;
  min-width: 10em;
  width: 20em;
  position: relative;
  top: 0;
  right: 0;
  border-radius: 0;
  color: black;
  text-align: left;
}

.metadata-tooltip-content {
  position: relative;
  /* top: 5%; */
  left: 0;
  word-wrap: break-word;
  text-align: left;
  overflow-y: auto;
  max-height: 40vh;
  font-size: 0.9em !important;
  margin-bottom: 4px;
  margin-top: 4px;
}

.metadata-tooltip-type {
  display: inline;
  word-wrap: break-word;
  line-height: 2em;
  background-color: rgba(22, 160, 133, 0.5);
  color: black;
	margin: 0 5px;
	padding: 0 15px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.metadata-tooltip-heading {
  position: relative;
  top: 2px;
  text-align: center;
  word-wrap: break-word;
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--dark-base-colour)
}

.metadata-tooltip-warning {
  padding: 10px;
  font-weight: bold;
}

.metadata-tooltip-section {
  word-wrap: break-word;
  margin: 3px;
  padding: 2px;
}

.metadata-field-name {
  display: inline-block;
  font-weight: bold;
  margin-right: 3px;
}

.metadata-field-value {
  margin: 2px;
  display: inline;
  word-wrap: break-word;
}

.metadata-links {
  border-top: 1px solid var(--light-base-colour-dark);
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-link-button {
  background-color: var(--dark-base-colour);
  color: white;
}

.db-names-list{
  display: inline;
}

.publication-list{
  line-height: 1.2em;
}

.publication-item {
  word-wrap: break-word;
  line-height: 1.2em;
}

.publication-link {
  color: var(--link);
  margin: 2px;
  font-weight: lighter;
}

.publication-subinfo {
  padding-top: 6px;
}

.publication-inline{
  display: inline;
}

.publication-divider{
  font-size: 1.19em;
  padding: 2px;
}
