.app-bar {
  max-width: 80vw; /* 80% browser window size*/
  position: fixed; /* relative to viewport */
  z-index: 10;
  left: 30px;
}

.app-bar-branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80vw;
  padding:4px 8px;
  background-color: var(--light-base-colour);
  border: 1px solid var(--light-base-colour-dark);
}

.app-bar-title {
  color: var(--dark-base-colour);
  font-weight: bold;
  font-size: 0.9em;
  max-width: 70vw;
}

.app-toolbar {
  z-index: 10;
  position: relative;
  top: 0px;
  width: 350px;
  border-radius: 0 0 0.25em 0.25em;
  border-color: var(--light-base-colour-dark);
  border-style: solid;
  border-width: 1px;
  background-color:white;
  opacity: 0.9;
}