.contribute {
  position: absolute;
  margin: 0.5em 0;
  left: 0.25em;

  & i {
    margin: 0em 0.25em;
    color: var(--widgetDisabledTextColor);
  }

  & i:hover {
    cursor: pointer;
  }
}

.contribute-popover-info {
  max-width: 30em;
  padding: 0.5em;
}

@media( --small-width-viewport ){
  .contribute-popover-info {
    font-size: 0.8em;
  }
}

