.tooltip-description {
  padding: 0 1em;
}

.metadata-tooltip {
  max-width: 300px;
  min-width: 10em;
  width: 20em;
  position: relative;
  top: 0;
  right: 0;
  border-radius: 0;
  color: black;
  text-align: left;
  padding: 10px;
}

.metadata-tooltip-content {
  position: relative;
  left: 0;
  word-wrap: break-word;
  text-align: left;
}

.metadata-tooltip-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  color: var(--dark-base-colour);
  margin: 3px;
  margin-bottom: 10px;
  padding: 2px;
  overflow: hidden;
  & h2 {
    margin: 0;
    line-height: 2em;
    font-weight: bold;
    margin-right: 5px;
  }

}

.metadata-tooltip-type-chip {
  display: inline-block;
  word-wrap: break-word;
  padding: 2px 6px;
  background-color: var(--light-base-colour-dark);
  font-size: 0.9em;
  color: black;
  border-radius: 10px;
}

.metadata-tooltip-body {
  border-top: 1px solid var(--light-base-colour-dark);
  margin-bottom: 10px;
  padding-top: 10px;
  max-height: 20em;
  overflow-y: scroll;
}

.metadata-tooltip-warning {
  padding: 10px;
  font-weight: bold;
}

.metadata-tooltip-section {
  word-wrap: break-word;
  font-size: 0.9em;
  margin: 3px;
  padding: 2px;
}

.metadata-field-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin-right: 3px;

  & i {
    height: 10px;
    width: 10px;
  }
}

.metadata-field-value {
  display: flex;
  flex-direction: row;
  margin: 2px;
  word-wrap: break-word;
}

.metadata-tooltip-footer {
  border-top: 1px solid var(--light-base-colour-dark);
  padding-top: 10px;
}

.metadata-links {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.metadata-search-call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.metadata-find-pathways {
  margin: 3px;
  margin-top: 10px;
  border-radius: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  border: 1px solid var(--light-base-colour-darker);
  color: var(--activeColor);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.metadata-publication {
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  & a {
    color: var(--activeColor);
  }
}

.expand-collapse-cue {
  cursor: pointer;
  padding: 3px;
  font-size: 1.5em;
}

.expand-collapse-cue:hover {
  color: var(--accent-1-colour);
}