.cy-tooltip {
  max-width: 500px;
  min-width: 10em;
  max-height: 95vh;
  position: relative;
  top: 0;
  right: 0;
  border-radius: 0;
  color: black;
  text-align: left;
  overflow-y: scroll;
  word-wrap: break-word;
}

@media (--small-width-viewport){
  .cy-tooltip {
    max-height: calc(100vh - 14em);
    max-width: 300px;
  }
}

.cy-tooltip-content {
  position: relative;
  left: 0;
  text-align: left;
}

.cy-tooltip-header {
  color: var(--dark-base-colour);
  margin: 0.25em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cy-tooltip-title {
  margin: 0;
  line-height: 1em;
  display: inline-block;
}

.cy-tooltip-type-chip {
  display: inline-block;
  padding: 2px 6px;
  background-color: var(--light-base-colour-dark);
  font-size: 0.9em;
  color: black;
  border-radius: 10px;
  margin-left: 0.5em;
}

.cy-tooltip-body {
  border-top: 1px solid var(--light-base-colour-dark);
  margin: 0.25em;
}

.cy-tooltip-warning {
  margin: 0.25em;
  font-weight: bold;
}

.cy-tooltip-section {
  font-size: 0.9em;
  margin: 0.25em;
}

.cy-tooltip-field-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;

  & i {
    height: 10px;
    width: 10px;
  }
}

.cy-tooltip-field-value {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.cy-tooltip-footer {
  margin: 0.25em;
  border-top: 1px solid var(--light-base-colour-dark);
}

.cy-tooltip-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  & a {
    display: inline-block;
    margin-right: 10px;
  }
}

.cy-tooltip-call-to-action {
  text-align: center;
  margin: 0.5em 0.25em 0.25em;
}

.cy-overflow-content {
  overflow-wrap: break-word;
  overflow: hidden;
  margin: 0.25em 0;
  width: 100%;

  & + .cy-overflow-content {
    margin-top: 0.5em;
  }
}

.expand-collapse-cue {
  cursor: pointer;
  margin: 0.25em;
  font-size: 1.5em;
}

.expand-collapse-cue:hover {
  color: var(--accent-1-colour);
}

a.cy-tooltip-edge-link {
  cursor: pointer;
}

.cy-tooltip-edge-entry {
  margin: 0.5em 0;
  display: relative;
}

.cy-tooltip-edge-color {
  display: inline-block;
  margin-bottom: -0.0625em;
  margin-right: 0.25em;
  height: 0.85em;
  width: 1em;
  background-color: #888;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.cy-tooltip-back {
  margin-right: 0.25em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25em;
}
