.empty-network {
  text-align: center;
  padding: 10em;
  & .pc-logo {
    background-image: url("../image/pc_logo_dark.svg");
    background-repeat: no-repeat;
    height: 5em;
    width: 5em;
    padding: 20px 0px 0px 0px;
  }

  & .empty-network-message {
    margin-left: 10px;
  }
}

.empty-network-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}