.common-flat-button {
  @extend %flex-center;

  padding: 0.5em 0.5em;

  cursor: pointer;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: var(--light-base-colour-dark);
  }

  & i {
    font-size: 1em;
    margin-right: 0.5em;
    
    &.common-flat-button-right-icon {
      margin-right: 0;
      margin-left: 0.5em;
    }
  }
}