.icon-button {
  @extend %flex-center;
  @extend %no-select;

  height: calc(var(--icon-size) * 3 / 2.2);
  width: calc(var(--icon-size) * 3 / 2.2);
  margin-left: 0.12em;
  margin-right: 0.12em;
  border-radius: 50% !important;
  transition: all 0.1s linear;
  color: var(--dark-base-colour);
  cursor: pointer;

  & :hover {
    background-color: var(--light-base-colour-dark);
  }

  & .icon-button-active {
    color: var(--accent-1-colour);
  }

  & i {
    font-size: var(--icon-size);
    border-radius: 50%;
    padding: 0.12em;
  }
}