.network {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (--small-width-viewport) {
  .network{
    width: 100% !important;
  }
}

.network-loading {
  visibility: hidden;
}

.network-sidebar-open {
  width: calc(100vw - var(--view-sidebar-width));
}

.network-cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
