.pc-logo {
  height: 50px;
  width: 50px;
  background-image: url("../image/pc_logo_dark.svg");
}

.pc-logo-light {
  height: 30px;
  width: 30px;
  background-image: url("../image/pc_logo_light.svg");
}
