/*  ********ENRICHMENT INPUT BAR********   */

.enrichmentInput {
  display: flex;
}

.gene-input-container{
  height: 1.85em;
  width: 200px;
}

.gene-input-box{
  min-height: 1.85em;
  max-height: 80%;
  width: 200px;
  background-color: white;
  padding: 0em 0.5em;
  box-sizing: border-box;
  border: 1px solid var(--light-base-colour-dark);
  border-radius: 0 !important;
  font-weight: normal;
  position: fixed;
  vertical-align: middle;
  z-index: 1;
  overflow-y:scroll;
  line-height: 1.8;
  resize: none;
}

.gene-input-box:empty:not(:focus):before {
  content: attr(placeholder);
}

.gene-input-box:not(:focus) {
  max-height: 1.85em;
}

.unrecognized-token-container{
  @extend %flex-center;

  min-width: 200px;
  position: absolute;
  top: 100%;
  left: -1px;
}

.unrecognized-tokens-feedback{
  min-height: 1.85em;
  max-height: 628px;
  width: 200px;
  background-color: white;
  padding: 0em 0.5em;
  border: 1px solid var(--light-base-colour-dark);
  border-radius: 0 !important;
  font-weight: normal;
  vertical-align: middle;
  z-index: 1;
  overflow-y:scroll;
  line-height: 1.8;
  resize: none;
}

.unrecognized-tokens-feedback:empty{
  display:none;
}

/* submit button for gene input */
.submit{
  background-color: var(--dark-base-colour);
  /* background-color: #16A086; */
  color: white;
  font-weight: normal;
  border: 1px solid var(--light-base-colour-dark);
  border-left: none;
  border-radius: 0 !important;
  height: 1.85em;
  vertical-align: middle;
}

/*   ********ENRICHMENT SIDE MENU********  */

.enrichment-legend-container {
  display: flex;
  flex-direction: row;

  & p {
    margin: 0;
    text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
}

/* for p_value <= 0.05 */
.enrichment-legend-stat-significant {
  padding: 0px 5px 0px 5px;
  height: 40px;
  color: white;
  background: linear-gradient(to right,
  rgb(0,0,255),
  rgb(179, 255, 255)
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;

  & p {
    padding-top: 10px;
  }
}


/* for p_value > 0.05 */
.enrichment-legend-not-significant {
  padding: 0px 5px 0px 5px;
  margin-left: 10px;
  height: 40px;
  color: white;
  background: #555;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
}

.enrichment-drawer-tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 0;
  cursor: pointer;
  margin-bottom: 0;
  margin-right: 10px;
}

.enrichment-drawer-tab-selected {
  font-weight: bold;
  color: var(--accent-1-colour);
  border-bottom: 3px solid var(--accent-1-colour);
}

.react-tabs{
  width: 100%;
}

.enrichment-slider-wrapper{
  width: 77%;
  margin-top: 5px;
}

#enrichment-selection-slider{
  width: 100% !important;
}
