.entity-summary-list {
  max-width: var(--search-width);
  width: 100%;
  margin-top: 0.5em;
}

.entity-summary-list-entries {
  border: 1px solid var(--light-base-colour-dark);
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  display: flex;
  flex-direction: column;
}

.entity-summary-box {
  border-bottom: 1px solid var(--light-base-colour-dark);
  pointer-events: all;
  padding: 0.25em 0.5em;

  & h5 {
    margin: 0;
    color: var(--dark-base-colour);
  }
}

.entity-summary-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--dark-base-colour);
  margin: 0.5em 0;
  & .entity-title {
    margin: 0;
  }
}

.entity-names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 0;
}

.entity-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 0.5em;
}

.entity-summary-interactions-snapshot {
  height: 200px;
  background-position: center;
}

.entity-summary-interactions-snapshot-container {
  display: block;
  height: 200px;
}

.entity-summary-view-interactions {
  border: 1px solid var(--light-base-colour-dark);
  box-shadow: var(--box-shadow);
}

.entity-summary-interactions-snapshot-button {
  position: relative;
  top: -28px;
  background-color: var(--dark-base-colour);
  border: 1px solid var(--dark-base-colour);
  color: var(--light-base-colour);
  border-radius: 0;
  opacity: 0.9;
}

.snapshot-button-center {
  left: 50%;
  transform: translate(-50%, 0);
}

.entity-summary-footer {
  padding: 1.25em 0.5em;
}
