.entry {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 20% 40% 20%;
  grid-template-columns: 33% 33% 33%;
  grid-auto-flow: column dense;
}

.entry-header {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.entry-search {
  border: 1px solid;
  display: flex;

  align-items: flex-start;
}

.entry-search > input {
  border: none;
  width: 500px;
}

.entry-searchicon {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-logo {
  background-image: url("../image/pc_logo.svg");
  height: 200px;
  width: 200px;
}

.entry-pc-title {
}
