.entry {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.entry-header {
  width: 500px;
}

.entry-pc-link {
  /* border: 0;
  outline: none;
  border-style: none; */
}

.entry-logo {
  /* border: 0;
  border-style: none;
  outline: none; */
  background-image: url("../image/pc_logo.svg");
  height: 80px;
  width: 80px;
}