.entry {
  @extend %flex-center;

  height: 100vh;
  width: 100vw;
}

.entry-content {
  @extend %flex-center;
  width: 100%;

  flex-direction: column;
}

.entry-header {
  width: 500px;
  padding-bottom: 50px;
  display: flex;
  align-content: center;
  align-items: center;
}

.entry-logo {
  display: inline-block;
  background-image: url("../image/pc_logo_dark.svg");
  height: 150px;
  width: 150px;
  margin-right: 10px;
}

.entry-pc-title {
  color: var(--dark-base-colour);
  margin-bottom: 0;
}

.entry-pc-description {
  color: grey;
  margin-top: 0;
}

.entry-search-stripe {
  @extend %flex-center;

  width: 100%;
  padding: 20px 0;
  margin-bottom: 203px;

  flex-direction: column;

  background-color: var(--dark-base-colour);
}

.entry-search-content {
  max-width: 625px;
  min-width: 500px;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.entry-search-title {
  
  margin-top: 0;
  margin-bottom: 20px;

  display: flex;

  color: var(--light-base-colour);
  font-size: 2em;
  font-weight: normal;

  &:hover {
    color: var(--accent-1-colour);
  }
}

.entry-search-bar {
  width: 100%;
  border: 1px solid;
  border-color: var(--light-base-colour);
  background-color: white;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition-property: box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  & input {
    border: none;
    width: 625px;
    height: 50px;
  }
}

.entry-search-button {
  padding: 20px;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-search-button > button {
  border: none;
  font-size: 24px;
}

.entry-search-button > button > i {
  color: #333333;
}

.entry-suggestions {
  margin-top: 10px;
  color: var(--light-base-colour);
}

.entry-example {
  &:hover {
    color: var(--accent-1-colour);
  }
}
