.paint {
  overflow: hidden;
}

.paint-legend {
  padding: 0px 5px 0px 5px;
  height: 40px;
  color: white;
  background: linear-gradient(to right, #0A872C, white 33%, white 66%, #880E7C);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paint-legend > p {
  margin: 0;
  padding-top: 10px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.paint-menu {
  width: 100%;
}

.paint-menu-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

.paint-select {
  width: 75px;
}

.paint-search-result {
  cursor: pointer;
  padding: 5px;

  & p {
    margin: 0;
  }

  & h3 {
    margin-bottom: 2px;
  }
}

.paint-search-result-selected {
  color: var(--accent-1-colour);
}

.paint-drawer-tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 0;
  cursor: pointer;
  margin-bottom: 0;
  margin-right: 10px;
}

.paint-drawer-tab-selected {
  font-weight: bold;
  color: var(--accent-1-colour);
  border-bottom: 3px solid var(--accent-1-colour);
}


.expression-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.expression-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.expression-table-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid var(--light-base-colour-dark);
  border-radius: 0.25em;

}

.expression-table-header {
  margin: 10px;
}

.expression-table-header-column {
  width: 50%;
  cursor: pointer;
}

.expression-filter {

  & input {
    width: 100%;
  }
}

.expression-list {
  max-height: 74vh;
  overflow: scroll;
}

.expression-entry {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--light-base-colour-dark);

  padding: 10px;
}

.expression-gene {
  width: 50%;
  padding-left: 10px;
}
