.paint-legend {
  padding: 0px 5px 0px 5px;
  height: 40px;
  color: white;
  background: linear-gradient(to right, #0A872C, white 33%, white 66%, #880E7C);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paint-legend > p {
  margin: 0;
  padding-top: 10px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.paint-expression-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

.paint-select {
  width: 75px;
}

.paint-search-result {
  padding: 10px;
}

.paint-drawer-tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 0;
}

.paint-drawer-tab-selected {
  border-bottom: 3px solid var(--accent-1-colour);
}
