.pathways {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.pathway-title {
  max-width: 95vw;
  line-height: 1.25em;
  margin: 0.25em;
}

.pathway-title .pathway-title-name {
  font-size: 1.1em;
}

.pathway-title .pathway-title-source {
  font-size: 0.9em;
}
