.pathways {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.pathways-search-nodes {
  @extend %flex-center;
  @extend %no-select;

  width: 11em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: visible;
  font-size: 0.9em;
  box-sizing: border-box;
}

.pathways-search-bar {
  @extend %flex-center;

  height: 1.85em;
  width: 100%;
  background-color: white;
  padding: 0em 0.5em;
  box-sizing: border-box;
  border: 1px solid var(--light-base-colour-dark);
}

.pathways-search-input {
  height: 100% !important;
  width: 90%;
  padding: 0 0 1px 0 !important;
  border-width: 0px !important;
}

.pathways-search-clear {
  @extend %flex-center;

  height: calc(var(--icon-size) * 2 / 3);
  cursor: pointer;

  color: var(--dark-base-colour);

  transition: all 0.1s linear;

  &:hover {
    color: var(--accent-1-colour);
  }
}