.search {
  height: 100vh;
  width: 100vw;
}
.search-header-container {
  background-color: var(--midnight-blue);
  padding: 10px;
}

.search-header {
  display: flex;
  align-items: center;
}

.search-searchbar {
  border: 1px solid;
  border-color: var(--cloud);
  margin-left: 16px;
  padding-left: 5px;
  display: flex;
  align-content: space-around;
  background-color: var(--cloud);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-searchbar {
  box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.search-searchbar > input {
  background: none;
  border: none;
  width: 500px;
  height: 50px;
}

.search-logo {
  display: inline-block;
  background-image: url("../image/pc_logo_dark.svg");
  height: 50px;
  width: 50px;
}

.search-search-button {
  font-size: 24px;
  border-radius: 5px;
  background-color: var(--cloud);
}

.search-search-button > button {
  height: 50px;
  border: none;
}

.search-searchbar > button > i {
  color: #333333;
}

.search-list-container {
  padding: 10px;
}

.search-options {
  padding-bottom: 5px;
}

.search-hit-counter {
}

.search-list {
}

.search-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-item > img {
  height: auto;
  max-height: 80px;
  max-width: 100px;
}

.search-item-content {
  display: flex;
  flex-direction: column;

}

.search-item-content-title {
  margin: 0;
  height: 25px;
  color: #539DD6;
}

.search-item-content-datasource {
  margin: 0;
  margin-top: 2px;
}
.search-item-content-participants {
  margin: 0;
  margin-top: 2px;
  color: #7F8C8D;
}