.search {
  height: 100vh;
  width: 100vw;
}

.search-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--light-base-colour);
  padding: 1em;
  border-bottom: 1px solid var(--light-base-colour-dark);
}

.search-branding {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 0.5em;
}

.search-branding-descriptor {
  margin-left: 0.5em;
}

.search-title {
  margin: 0;
  line-height: 1em;
  color: var(--dark-base-colour);
  font-size: 2em;
}

.search-subtitle {
  margin: 0;
  line-height: 1em;
  color: var(--dark-base-colour);
  font-size: 0.75em;
}

.search-logo {
  display: inline-block;
  height: 55px;
  width: 55px;
}

.search-searchbar-container {
  max-width: 100%;
  width: var(--search-width);
  display: flex;
  flex-direction: column;
}

.search-searchbar {
  height: 50px;
  border: 1px solid;
  border-color: white;
  padding-left: 0.25em;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.15s ease-in-out;
}

.search-searchbar:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.search-searchbar > input {
  background: none;
  border: none;
  flex-grow: 1;
  height: 100%;
}

.search-search-button {
  font-size: 1.5em;
  border-radius: 5px;
  background-color: white;
  line-height: 2em;
  margin: 0 5px;
  cursor: pointer;
}

.search-searchbar > button > i {
  color: #333;
}

.search-suggestions {
  padding: 0.5em 0 0 0.25em;
  font-size: 0.75em;
  color: var(--dark-base-colour);
}

.search-example {
  cursor: pointer;

  &:hover {
    color: var(--accent-1-colour);
  }
}

.search-body {
  min-height: 4em;
  padding-left: 200px;
  max-width: var(--search-width);
  position: relative;
}

.search-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-result-hit-count {
  margin-top: 10px;
}

.search-pathway-results {
}

.search-genes-info-panel {
  display: flex;
  flex-flow: row wrap;
}

.search-genes-results {
}

.search-genes-list {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  margin-bottom: 0.25em;

  & * {
    flex-shrink: 0;
  }
}

.app-linkout {
  width: 48%;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--light-base-colour-dark);
  margin: 0.5em 0.25em 0.5em 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 1.75em;
}

.app-linkout-content {
  padding: 0.5em 0.25em;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  transform: translateY(-0.25em);
  pointer-events: none;
  transition: transform 250ms ease-out;
}

.app-linkout:hover .app-linkout-content {
  transform: translateY(calc(-100% + 2em));
}

.app-title {
  margin: 0;
  padding-bottom: 0.5em;
}

.app-linkouts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.app-link-action {
  text-transform: uppercase;
}

.app-image {
  max-width: 430px;
  width: 100%;
  height: var(--appImgHeight);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-bottom: 1px solid var(--light-base-colour-dark);
}

.interactions-logo {
  background-image: url("../image/interactions-icon.png");
}

.enrichment-logo {
  background-image: url("../image/enrichment-icon.png");
}

.search-filters {
  font-size: 12px;
  height: 13px;
  display: flex;
  flex-direction: row;
}

.search-datasource-filter {
  font-size: 12px;
  text-overflow: ellipsis;
  width: 25em;
}

.search-datasource-filter > option {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-item {
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 1em 0;
}

.search-item-icon {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  width: 80px;
  height: auto;
}

.search-item-icon > img {
  max-width: 80px;
  max-height: 40px;
}

.search-item-content {
  padding-left: 0.5em;
}

.search-item-content-datasource {
  margin: 0;
  margin-top: 2px;
  font-size: 14px;
}

.search-item-content-participants {
  margin: 0;
  margin-top: 2px;
  color: #7f8c8d;
  font-size: 0.66em;
}

.loader {
  color: var(--accent-1-colour);
}

.search-error {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  padding-left: 215px;
  width: 60%;
}

@media (--small-width-viewport) {
  .search-header {
    display: block;
  }

  .search-genes-info-panel {
    display: block;
  }

  .search-item-icon {
    display: none;
  }

  .search-body {
    padding-left: 10px;
  }

  .search-error {
    padding-left: 50px;
  }

  .search-tabs {
    overflow-x: scroll;
  }
}
