.search {
  height: 100vh;
  width: 100vw;
}

.search .hidden {
  display: none;
}

.search-nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0em 0.5em;
}

.search-nav-links a {
  padding: 1em 1em;
  /* background: cyan; */
}

.search-nav-links .contribute {
  position: relative;
  margin: 1em;

  & a {
    padding: 0;
  }
}

.search-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--light-base-colour);
  padding: 1em;
  border-bottom: 1px solid var(--light-base-colour-dark);
}

.search-branding {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 0.5em;
}

.search-branding-descriptor {
  margin-left: 0.5em;
}

.search-title {
  margin: 0;
  line-height: 1em;
  color: var(--dark-base-colour);
  font-size: 2em;
}

.search-subtitle {
  margin: 0;
  line-height: 1em;
  color: var(--dark-base-colour);
  font-size: 0.75em;
}

.search-logo {
  display: inline-block;
  height: 55px;
  width: 55px;
}

.search-searchbar-container {
  max-width: 100%;
  width: var(--search-width);
  display: flex;
  flex-direction: column;
}

.search-searchbar {
  height: 50px;
  border: 1px solid;
  border-color: white;
  padding-left: 0.25em;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.15s ease-in-out;
}

.search-searchbar:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.search-searchbar > input {
  background: none;
  border: none;
  flex-grow: 1;
  height: 100%;
}

.search-search-button {
  font-size: 1.5em;
  border-radius: 5px;
  background-color: white;
  line-height: 2em;
  margin: 0 5px;
  cursor: pointer;
}

.search-searchbar > button > i {
  color: #333;
}

.search-suggestions {
  padding: 0.5em 0 0 0.25em;
  font-size: 0.75em;
  color: var(--dark-base-colour);
}

.search-example {
  cursor: pointer;

  &:hover {
    color: var(--accent-1-colour);
  }
}

.search-body {
  min-height: 4em;
  padding-left: 200px;
  max-width: var(--search-width);
  position: relative;
}

.search-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

@media (max-width: 700px) {
  .search-tools {
    flex-direction: column;
    align-items: flex-start;
  }
}

.search-pathways-header {
  margin: 0;
}

.search-result-hit-count {
  margin-top: 10px;
}

.search-pathway-results {
}

.search-genes-info-panel {
  display: flex;
  flex-flow: row wrap;
}

.search-genes-results {
}

.search-genes-list {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  margin-bottom: 0.25em;

  & * {
    flex-shrink: 0;
  }
}

.interactions-logo {
  background-image: url("../image/interactions-icon.png");
}

.enrichment-logo {
  background-image: url("../image/enrichment-icon.png");
}

.search-filters {
  font-size: 12px;
}

.search-datasource-filter {
  font-size: 12px;
  text-overflow: ellipsis;
  width: 25em;
}

.search-datasource-filter > option {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-item {
  padding: 1em 0;
}

.search-item.featured {
  background-color: var(--cloud);
}

.search-item-info {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.search-item-icon {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  width: 80px;
  height: auto;
}

.search-item-icon > img {
  max-width: 80px;
  max-height: 40px;
}

.search-item-content {
  box-sizing: border-box;
  padding-right: 0.5em;
}

.search-item-content-datasource {
  margin: 0;
  margin-top: 2px;
  font-size: 14px;
}

.search-item-content-participants {
  margin: 0;
  margin-top: 2px;
  color: #7f8c8d;
  font-size: 0.66em;
}

.search-item-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.loader {
  color: var(--accent-1-colour);
}

.search-error {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  padding-left: 215px;
  width: 60%;
}

.search-app-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

/* Feature */
.feature-area {
  &.header {
    grid-area: header;
  }

  &.article {
    grid-area: article;

    & .headline {
      font-size: 1.3em;
      color: #0066CC;
    }

    & i.icon.logo-pubmed {
      margin: auto 1em;
      width: 6em;
      height: 2em;
    }
  }

  &.pathway {
    grid-area: pathway;

    & .app-card {

      & .app-card-image {
        height: calc(var(--appImgHeight) * 1.4);
      }

      & .app-card-title {
        font-size: 0.9em;
        color: rgb(102, 102, 102);
        font-weight: normal;

        & i.icon {
          width: 10em;
          height: 1.25em;
        }
      }

      & .app-card-body {
        & p {
          font-size: 0.9em;
          margin: 0.25em auto;

          & .sub-heading {
            font-weight: bold;
            margin-right: 0.5em;
          }
        }

        & i.icon {
          margin-left: 0.2em;
        }
      }
    }
  }

  &.footer {
    grid-area: footer;
  }
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'header header'
    'pathway article'
    'footer footer'
    ;
  column-gap: 2%;
  margin: 1em auto;
  line-height: normal;

  & hr {
    width: var(--search-width);
    display: block;
    overflow: hidden;
    border: solid 0.5px #D3D3D3;
    margin: 1em auto;
  }
}

.feature-item {
  margin: auto auto 1em;
}

.feature-detail {
  font-size: 0.85em;
  color: rgb(102, 102, 102);
}

.feature-item-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

@media (--small-width-viewport) {
  .search-nav-links {
    display: none;
  }

  .search-header {
    display: block;
  }

  .search-genes-info-panel {
    display: block;
  }

  .search-item-icon {
    display: none;
  }

  .search-body {
    padding-left: 10px;
  }

  .search-error {
    padding-left: 50px;
  }

  .search-tabs {
    overflow-x: scroll;
  }

  .search-app-cards {
    grid-template-columns: 1fr;
  }

  .feature-container {
    grid-template-columns: 100%;
    grid-template-areas:
    'header'
    'pathway'
    'article'
    'footer'
    ;
  }
}
