.search {
  height: 100vh;
  width: 100vw;
}

.search-header-container {
  background-color: var(--light-base-colour);
  z-index: 10;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 0;
  // border-bottom: 2px solid black;
}

.search-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  position: relative;
}

.search-branding {
  @extend %flex-center;
  height: 100%;
  padding-right: 25px;
}

.search-branding-descriptor {
  margin-left: 10px;
}

.search-search-title {
  margin: 0;
  margin-bottom: 0.375em;
  line-height: 1em;
  color: var(--dark-base-colour);
  font-size: 2em;
  font-weight: 600;
}

.search-pc-title {
  margin: 0;
  line-height: 1em;
  color: var(--dark-base-colour);
  font-size: 0.75em;
}

.search-logo {
  display: inline-block;
  background-image: url("../image/pc_logo_dark.svg");
  height: 55px;
  width: 55px;
}

.search-searchbar-container {
  max-width: 100%;
  width: var(--search-width);
  display: flex;
  flex-direction: column;
}

.search-searchbar {
  height: 50px;
  border: 1px solid;
  border-color: white;
  padding-left: 5px;
  display: flex;
  align-content: space-around;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.15s ease-in-out;
}

.search-searchbar:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.search-searchbar > input {
  background: none;
  border: none;
  flex-grow: 1;
  height: 100%;
}

.search-search-button {
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
}

.search-search-button > button {
  height: 50px;
  border: none;
}

.search-searchbar > button > i {
  color: #333333;
}

.search-suggestions {
  padding-top: 10px;
  font-size: 0.75em;
  color: var(--dark-base-colour);
}

.search-example {
  cursor: pointer;
  &:hover {
    color: var(--accent-1-colour);
  }
}

.search-tabs {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.search-option-item-container {
  margin-right: 10px;
  cursor: pointer;

  transition: all 0.1s linear;
}

.search-option-item-container:hover {
  background-color: var(--light-base-colour-dark);
}

.search-option-item {
  height: 34px;
  color: var(--dark-base-colour);
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;

  transition: all 0.1s linear;
}

.search-option-item-tools {
  margin-left: auto;
}

.search-option-item-tools-active {
  color: var(--accent-1-colour);
}

.search-option-item > a {
  font-weight: bold;
  white-space: nowrap;
}

.search-option-item > a:hover {
  cursor: pointer;
}

.search-option-item-active {
  color: var(--accent-1-colour);
  border-bottom: 3px solid;
  border-bottom-color: var(--accent-1-colour);
}

.search-option-item-disabled {
  color: grey;
}

.search-option-item-disabled > a:hover {
  cursor: default;
}

.search-option-item-active > button {
  color: var(--accent-1-colour);
}

.search-tools {
  margin-left: auto;
  border: 0;
  font-size: 14px;
}

.search-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  padding-left: 215px;
}

.search-result-info {
  max-width: 100%;
  width: var(--search-width);
}

.search-list {
  max-width: 100%;
  width: var(--search-width);
}

.search-hit-counter {
  font-size: 12px;
  color: #7F8C8D;
}

.search-filters {
  font-size: 12px;
  height: 13px;
  display: flex;
  flex-direction: row;
}

.search-datasource-filter {
  border: none;
  padding-right: 2em;
  font-size: 12px;
  text-overflow: ellipsis;
}

.search-datasource-filter > option {
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-landing{
  display: flex;
  vertical-align: middle; 
  align-items: center;
  margin-top: 20px;
  padding:(10px ,20px,30px,40px);
  width: var(--search-width);
  background-color: var(--light-base-colour);
}
.search-landing-title{
  color: var(--dark-base-colour);
}
.search-landing-list{
  list-style-type: none;
  padding:(10px ,20px,30px,40px);
}

.search-landing-item{
  margin: 0;
  padding: (1em,0em,1em,0em);
}

.search-landing-item-small{
  font-size: 13px;
}

.search-item {
  display: flex;
  vertical-align: middle; 
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-item-icon {
  display: flex;
  justify-content: center;
  width: 80px;
  height: auto;
}
.search-item-icon > img {
  max-width: 80px;
  max-height: 40px;
}

.search-item-content {
  padding-left: 10px;
  /* width: 650px; */
}

.search-item-content-title {
  margin: 0;
  color: #539DD6;
}

.search-item-content-datasource {
  margin: 0;
  margin-top: 2px;
  font-size: 14px;
}
.search-item-content-participants {
  margin: 0;
  margin-top: 2px;
  color: #7F8C8D;
  font-size: 12px;
}

.loader {
  color: var(--accent-1-colour);
}

@media (--small-width-viewport) {
  .search-branding {
    display: none;
  }

  .search-item-icon {
    display: none;
  }

  .search-list-container {
    padding-left: 10px;
  }

  .search-tabs {
    overflow-x: scroll;
  }
}