@import "./view/menuBar.css";
@import "./view/graph.css";
@import "./view/editWarning.css";
@import "./view/sidebarMenu.css";
@import "./view/toolTip.css";
@import "./view/contextMenu.css";

.View {
  width: 100vw;
  height: 100vh;
}   