.dropdown {
  @extend %no-select;
  @extend %flex-center;

  width: 100%;
  max-height: 100%;

  box-sizing: border-box;

  position: relative;

  cursor: pointer;
}

.dropdown-toggle {
  height: 1.85em;
  width: 100%;
  padding: 0.25em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid var(--light-base-colour-dark);

  & .dropdown-current-value {
    // width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & i {
    // padding-left: 1em;
    color: var(--dark-base-colour);
  }
}

.dropdown-options {
  width: 12em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: center top;

  position: absolute;
  top: 110%;
  left: 0;

  border: 1px solid var(--light-base-colour-dark);
  background-color: white;
  transform: scaleY(0);

  transition: all 0.2s ease-out;

  &.active {
    //box-shadow: var(--box-shadow);
    transform: scaleY(1);
  }
}

.dropdown-option {
  height: 100%;
  width: 100%;
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  background-color: white;

  transition: all 0.1s linear;

  &:hover {
    background-color: var(--light-base-colour);
  }

  &:last-child {
    border-bottom: 0;
  }

  & h4 {
    margin: 0;
    margin-bottom: 0.25em;
    font-size: 0.9em;
    width: 100%;
  }

  & span {
    width: 100%;
    font-size: 0.8em;
  }

}