.common-icon-button {
  @extend %flex-center;
  @extend %no-select;

  height: calc(var(--icon-size) * 3 / 2.2);
  width: calc(var(--icon-size) * 3 / 2.2);
  margin-left: 0.12em;
  margin-right: 0.12em;

  position: relative;

  //border: 1px solid var(--light-base-colour-dark);
  border-radius: 50%;
  transition: all 0.1s linear;

  
  font-size: var(--icon-size);
  color: var(--dark-base-colour);

  cursor: pointer;

  &.common-icon-button-light {
    color: var(--light-base-colour);
  }

  &:hover {
    background-color: var(--light-base-colour-dark);
  }

  &.common-icon-button-active {
    color: var(--accent-1-colour);
  }
}